@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans;

}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    z-index: 2;
}

.showcase header {
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 40px 100px;
z-index: 1000;
display: flex;
align-items: center;
justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url(menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.55;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(75, 75, 75);
    mix-blend-mode: overlay;
}


.text {
    position: relative;
    z-index: 10;
}

.text h2 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 2em;
    font-weight: 400;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 300;
    max-width: 600px;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: rgb(52, 128, 1);
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover {
    letter-spacing: 6px;
}

.social {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: table;
    justify-content: center;
    align-items: center;
    right: 90px;
    padding: 30px;
    margin-bottom: 30px;
    margin-right: -20px;
    
}    

.social li {
    list-style: none;
    
}

.social li a {
    display: inline-block;
    
    margin-right: 15px;
    transform: scale(0.5);
    transition: 0.5s;
}

.social li a:hover {
    transform: scale(0.5) translateY(-15px);
}

@media (max-width: 991px) {
    .showcase,
    .showcase header {
        padding: 40px;
    }

    .text h2 {
        font-size: 2em;
    }

    .text h3 {
        font-size: 1em;
    }

    .arrowimage {
        height: 70px;
    }
}

.menu ul {
display: flex;
list-style: none;

}

.menu ul li {
    padding: 20px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
}

.menu ul li .button {
    background-color: rgb(52, 128, 1);
    padding: 5px 15px;
    transition: 0.2s;
}

.social li .discord-settings {
    filter: invert(0);
    
}

.button-nav a:hover {
    letter-spacing: 2px;
}

.menu ul li .button-nav1 {
    transition: 0.2s;
}

.button-nav1 a:hover {
    letter-spacing: 2px;
    transition: 0.2s;
}

.menu ul li .button-nav2 {
    transition: 0.2s;
}

.button-nav2 a:hover {
    letter-spacing: 2px;
    transition: 0.2s;
}

.w-logo {
    display: flex;
    justify-content: space-between;
    
}

.imglogo {
    padding: 5px;
}



.arrowimage {
margin: 0px;
padding: 0px;
display: block;
margin-bottom: -150px;
margin-top: 50px;
opacity: 0.7;
} 

.startimage {
    display: flex;
}

.arrowimage2 {
    margin-left: 80px;
    margin-bottom: -90px;
    margin-top: 30px;
    opacity: 0.75;
    margin-left: 50px;
}

.startimage {
    list-style: none;
}